@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "components/status-bar.css";
@import "components/nav-bar2.css";
@import "components/screen-header2.css";
@import "components/user-component2.css";
@import "components/badge2.css";
@import "components/icon-row2.css";
@import "components/alt-screen-header2.css";
@import "screens/login.css";
@import "screens/friends2.css";
@import "screens/find2.css";
@import "screens/variable.css";
@import "screens/more2.css";
@import "screens/settings2.css";
@import "screens/chat2.css";
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
}
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
.welcom-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcom-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcom-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form2 {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form2 input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;

  margin-bottom: 25px;
  transition: border-color 0.3s ease-in-out;
}
#login-form2 input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form2 input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form2 input:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

#login-form2 input[type="submit"] {
  background-color: #f6c142;
  padding: 20px 0px;
  cursor: pointer;
  border-radius: 5px;
}
#login-form2 a {
  text-align: center;
  color: inherit;
  text-decoration: none;
  font-size: 13px;
}
body {
  height: 1000vh;
  padding-top: 30px;
  color: #2e363e;
}
