#friends-display-link2 {
  text-align: center;
  display: block;
  padding: 15px 0px;
  background-color: #fafafa;
  font-size: 18px;
  margin-bottom: 10px;
}
#friends-display-link2 i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen2 {
  padding: 0px 25px;
}
.friends-screen2__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen2__channel-header {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
