.nav {
  background-color: #f9f9fa;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.nav_-list {
  display: flex;
  justify-content: space-between;
}
